.ui-tabs { position: relative; padding: 0; zoom: 1;overflow:visible !important } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding:0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left;margin:0 3px; border-bottom: 0 !important; padding: 0;position:relative;
	border-radius:7px;
	background:url(../images/tabs.png) #d2d2d2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#d2d2d2)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #787878, #d2d2d2); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #787878, #d2d2d2); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #787878, #d2d2d2); /* IE10 */
	background-image:      -o-linear-gradient(top, #787878, #d2d2d2); /* Opera 11.10+ */
	-pie-background:      linear-gradient(top, #787878, #d2d2d2);
	background-image:         linear-gradient(to bottom, #787878, #d2d2d2); }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom:0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


div.k2ItemsBlock.tabs a.moduleItemImage{
	border:1px solid #666666;
	float:left;
	display:block;
	margin-right:20px;
    margin-top: 4px;

	}
	
div.k2ItemsBlock.tabs .ui-tabs-nav{
	position:absolute;right:0;top:-40px;}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li a{
	width:14px;height:14px;
	padding:0;
	display:block;
}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li:hover,
div.k2ItemsBlock.tabs .ui-tabs-nav li.ui-state-active{
	background:url(../images/tabs-active.png) repeat-x #e2e2e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e2e2e2)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #ffffff, #e2e2e2); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #ffffff, #e2e2e2); /* IE10 */
	background-image:      -o-linear-gradient(top, #ffffff, #e2e2e2); /* Opera 11.10+ */
	-pie-background:      linear-gradient(top, #ffffff, #e2e2e2);
	background-image:         linear-gradient(to bottom, #ffffff, #e2e2e2);
	box-shadow:0 1px 1px rgba(0,0,0,.33)
}

div.k2ItemsBlock.tabs .ui-tabs-panel{
    padding:0;}
		
.news_block{border-top:1px dashed #cdcdcd;padding:10px 20px 0 0;margin:10px 0 0;}
.ui-tabs-panel .news_block:first-child{border:none;padding:0 20px 0 0;margin:0;}
.tabs .moduleItemIntrotext a{color:#4B4B4B}
.tabs .moduleItemIntrotext a:hover{color:#659225}