*{margin:0; padding:0;}

body.font-size-is-default {
    font-size: 12px;
	line-height:20px;
	color:#4b4b4b;
	font-family:Verdana, Geneva, sans-serif;
	background:url(../images/texture.gif) 50% 0 !important;
}

input, textarea{
	font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
	color:#3c3c3c;
}
	
a:hover {
	color:#393939;
}


/*Buttons*/

a.moduleItemReadMore,
a.k2ReadMore,
div.itemCommentsForm form input#submitCommentButton,
input[type="submit"],
button,.commentRemoveLink,.commentApproveLink{
	background:url(../images/button.png) repeat-x #dcdcdc;
	box-shadow:0 0 1px #fff inset;
	color:#848484 !important;
    display: inline-block;
    padding:5px 12px;
    font-size: 11px !important;
	line-height:1.8em !important;
	cursor:pointer;
	border:1px solid #cfcfcf;
	font-family:Verdana, Geneva, sans-serif;
	text-transform:uppercase;
	border-radius:6px;position:relative;
	text-decoration:none !important
	}
input[type="submit"],
button{height:32px !important;}
	
a.moduleItemReadMore:hover,
a.k2ReadMore:hover,
div.itemCommentsForm form input#submitCommentButton:hover,
input[type="submit"]:hover,
button:hover,.commentRemoveLink:hover,.commentApproveLink:hover{
	background:url(../images/button.png) 0 100% repeat-x #dcdcdc;
	}
	
/*Typhography*/

.module-title h2.title,.componentheadingblog,  				/*Module titles*/
div.catItemHeader h3.catItemTitle,		/*Category listing. Item title*/
div.itemHeader h2.itemTitle,				/*Single item view. Item title*/
div.userItemHeader h3.userItemTitle,		/*User items listing view. Item title*/
div.itemCommentsForm h3,
h3.itemCommentsCounter,
div.k2AccountPage th.k2ProfileHeading,
div.componentheading,.homepage_blocks .moduleItemTitle,
div.search h1,.contact h1{
  	font:600 24px/30px 'Open Sans', sans-serif;
	padding:0;
	margin:0;
	letter-spacing:-1px;
	color:#323232;
	}

#blog div.catItemHeader h3.catItemTitle,#blog div.itemHeader h2.itemTitle,div.userItemHeader h3.userItemTitle,div.genericItemHeader h2.genericItemTitle{font-size:12px;line-height:20px;font-family:Verdana, Geneva, sans-serif;font-weight:bold;letter-spacing:normal;margin:0 0 10px;}
#blog div.catItemHeader h3.catItemTitle a,div.userItemHeader h3.userItemTitle a,div.genericItemHeader h2.genericItemTitle a{color:#4b4b4b;}
#blog div.catItemHeader h3.catItemTitle a:hover,div.userItemHeader h3.userItemTitle a:hover,div.genericItemHeader h2.genericItemTitle a:hover{text-decoration:underline;}
p {margin: 0 0 20px;}
div.footer .module-title h2.title{font:600 14px/18px 'Open Sans', sans-serif;color:#515151;text-transform:uppercase;letter-spacing:normal;}
.homepage_blocks .moduleItemTitle{display:inline-block;margin:0 0 20px;}
.homepage_blocks .moduleItemTitle:hover{color:#65A00F;}
div.k2ItemsBlock ul li a.moduleItemComments,div.catItemCommentsLink a{padding:5px 0 15px;border:none;margin:0;float:right;color:#616161;font:600 italic 18px/22px 'Open Sans', sans-serif;text-align:center;background:url(../images/homepage_block_comments_bg.png) no-repeat;width:42px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;margin-right:10px;}
div.catItemCommentsLink{float:none;display:inline-block;border:none;}
div.catItemCommentsLink a{float:none;display:inline-block;margin:0px 0 0 5px;position:relative;top:3px;}
div.catItemCommentsLink a:hover{top:-2px;}
div.k2ItemsBlock ul li a.moduleItemComments:hover{margin-top:-5px;padding:5px 0 20px;}
div.k2ItemsBlock ul li span.moduleItemDateCreated{color:#65a00f;font-style:italic;}
div.k2ItemsBlock ul li div.moduleItemAuthor{display:inline-block;color:#65a00f;font-style:italic;}
div.k2ItemsBlock ul li div.moduleItemAuthor a{color:#65a00f}
div.k2ItemsBlock ul li div.moduleItemAuthor a:hover{text-decoration:underline;}
.homepage_blocks div.k2ItemsBlock ul li div.moduleItemIntrotext{padding:0 0 10px;}
div.catItemReadMore{display:inline-block;}
/*=== Top Positions ===*/

#rt-top .rt-container{ padding-top: 2em;}

/*Logo*/

#rt-logo{
	background:url(../images/logo/logo.png) top left no-repeat;
    width: 117px;
	height:22px;
	}

	
/*=== Header Positions ===*/

#rt-header{background:url(../images/header_bg.png) 50% 0 no-repeat;padding:24px 0 54px;}

/*=== Showcase Positions ===*/
.homepage .main_container.tail{background:url(../images/main_texture.jpg) 50% 0 repeat-x #ededed;}
.main_container{background:#ededed;}

#rt-showcase .rt-container{padding-bottom:31px;}
#rt-showcase{background:url(../images/shadow.png) 50% 353px no-repeat;}
#rt-showcase .header_title{font:300 36px/40px 'Open Sans', sans-serif;color:#7e7e7e;text-transform:uppercase;padding:50px 100px 0;text-align:center;letter-spacing:-1px;}

/*=== Feature Positions ===*/
#rt-feature{background:url(../images/shadow_2.png) 50% 0 no-repeat;}
.homepage #rt-feature{padding:21px 0 0;}
.homepage #rt-feature .rt-container{padding-bottom:30px;}
.homepage_blocks ul{margin-left:-20px;}
.homepage_blocks li{float:left;width:300px;margin-left:20px;}
.moduleItemImage,.catItemImage,.itemImage,.userItemImageBlock,.genericItemImageBlock img{display:inline-block;background:#f0f0f0;padding:5px !important;border:1px solid #fff;box-shadow:0 0 1px rgba(0,0,0,.33)}
.genericItemImageBlock a{display:block;}
.homepage_blocks .moduleItemImage{margin:0 0 26px;}
#blog div.catItemBody{padding:0 30px 20px 0;border-bottom:1px dashed #cdcdcd;margin:0 0 10px;}
#blog div.catItemImageBlock,.userItemImageBlock{float:left;margin:0 18px 0 0 !important;}
.userItemImage a{display:block;}
/*=== Utility Positions ===*/

/*=== MainTop Positions ===*/

/*=== MAINBODY ===*/
.tail #rt-main{background:url(../images/shadow_2.png) 50% 0 no-repeat;}
#rt-main{padding:30px 0 38px}
.img-indent{float:left;margin-right:23px;}

#k2Container{padding:0;}
#about .catItemImageBlock{float:left;margin:0 20px 10px 0;}
.col-1{float:left;width:140px;padding-right:21px;}

.k2ItemsBlock.awards{background:url(../images/page2_icon1.jpg) 13px 0 no-repeat;padding:0 0 0 140px;}
.list2{margin:0;}
.list2 li{font-weight:bold;padding:0 0 0 10px;background:url(../images/list2_marker.gif) 0 10px no-repeat;}
.list2 li a{color:#4b4b4b;}
.list2 li a:hover{text-decoration:underline;}

table.apps{border:1px solid #dcdcdc;margin:0 64px 30px 0;}
table.apps tr th{background:#99aa04;color:#4b4b4b;padding:13px 0;border-right:1px solid #b3b78e;}
table.apps tr th:first-child{width:60px;}
table.apps tr th+th{width:80px;}
table.apps tr th+th+th{width:335px;}
table.apps tr th+th+th+th{width:59px;}
table.apps tr td{background:#f6f6f6;border-right:1px solid #cacaca;padding:20px 12px 15px;vertical-align:top;}
table.apps tr>td+td+td+td{font-weight:bold;color:#659225;}

div.catItemHeader span.catItemAuthor,div.catItemCategory,div.catItemHeader span.catItemDateCreated,div.itemHeader span.itemAuthor,div.itemCategory,div.itemHeader span.itemDateCreated,.userItemDateCreated,div.genericItemHeader span.genericItemDateCreated{display:inline;color:#65a00f !important;font-style:italic;font-size:12px !important;}
div.catItemHeader span.catItemAuthor a,div.catItemCategory a,div.itemHeader span.itemAuthor a,div.itemCategory a{color:#65a00f;}
div.catItemHeader span.catItemAuthor a:hover,div.catItemCategory a:hover,div.itemHeader span.itemAuthor a:hover,div.itemCategory a:hover{text-decoration:underline;}

.extra-wrap{overflow:hidden;}

#port .rows_2>div{padding-right:10px;padding-bottom:38px;}
#port .rows_3>div{padding-right:13px;padding-bottom:38px;}
#port .rows_4>div{padding-right:16px;padding-bottom:38px;}

.k2AccountPage table.admintable tr td{padding:0 0 20px;}

#team .catItemView{padding-right:30px;}

.k2Pagination_counter{display:none;}
/*----------------Items List View-----------------*/


div.module-title,
div.catItemHeader,
div.itemHeader,
div.userItemHeader,
div.componentheading,.contact h1,.componentheadingblog {margin-bottom:20px !important;}
	
.homepage .catItemReadMore{display:block;text-align:right;}

/*----------------------------------------- Portfolio  ------------------------------------*/

.portfolio-row{overflow:hidden;}
.portfolio-row div.catItemImageBlock{margin-bottom:1em;}


/*SortByType*/

.sortbytype {
	width: 100%;
	overflow: hidden;
	padding: 0px 0 30px;
}

.sortbytype a {
	float: right;
	padding: 2px 5px;
	margin: 0 3px 0 10px;
	text-decoration: none;
}
.sortbytype a:hover, 
.sortbytype a.active_sort {
  background-position: left top;	
}



/*PrettyPhoto*/

a.modal{position:relative; display:block; overflow:hidden;}

a.modal span{
    background: url("../images/zoom.png") no-repeat scroll 0 0 transparent;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: -50%;
    width: 80px;
	}

/*----------------------------------------- FAQs ------------------------------------*/

#faqs div.catItemView{
	margin-bottom:24px;}

#faqs .question div.catItemHeader h3.catItemTitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 0;
    padding: 0;
	}
	
#faqs span.ques,
#faqs span.ans{
    font-size: 18px;
}

/*----------------------------------------- Testimonials ------------------------------------*/


#testimonials .catItemIntroText{
	background:url(../images/quotes.png) left 6px no-repeat;
	padding-left:80px;
	overflow:hidden;
	margin-bottom:36px;}
	
#testimonials .catItemIntroText > p{
	margin-bottom:0;
    font-style:italic}
	
#testimonials .catItemIntroText div.test-author{
	float:right;
	text-align:right;
	}
	
#testimonials .catItemIntroText div.test-author span.author{
	display:block;
	font-weight:bold;
	font-size:1.2em;
	}
	
/*----------------------------------------- History ------------------------------------*/

#history div.catItemHeader{float:left; margin:0 2em 0 0;}
#history div.catItemBody{overflow:hidden;}
	
	
	
/*Pagination*/

#blog div.k2Pagination,
div.pagination {
    color: #646464;
	}

div.k2Pagination ul,
div.pagination ul{
    text-align: center;
	background:url(../images/shadow_2.png) 50% 0 no-repeat;
	margin:0 -300px 0 0;
    padding:48px 0 0;
}

#k2Container .k2Pagination ul li span,
#k2Container .k2Pagination ul li a,
div.pagination ul li a,
div.pagination ul li span{
	font-size:11px;
	line-height:1.8em;
	display:inline-block;
	padding: 0.5em 1em;
	color:#4b4b4b;
	}
	
.component-content ul {
    list-style-position: outside;
    list-style-type: square;
    margin: 10px 0;
    padding: 0;
}

.component-content .pagenav {
    list-style-type: none;
    overflow: hidden;
	padding: 0.5em 1em;
}
	
#k2Container .k2Pagination ul li.pagination-start span.pagenav,
#k2Container .k2Pagination ul li.pagination-prev span.pagenav,
#k2Container .k2Pagination ul li.pagination-end span.pagenav,
#k2Container .k2Pagination ul li.pagination-next span.pagenav,
div.pagination ul li.pagination-start span.pagenav,
div.pagination ul li.pagination-prev span.pagenav,
div.pagination ul li.pagination-end span.pagenav,
div.pagination ul li.pagination-next span.pagenav{position:relative;
	background:#dcdcdc;color:#848484;font-weight:normal;text-transform:uppercase;
	border:1px solid #cfcfcf;box-shadow:0 0 0 1px rgba(255,255,255,.6) inset;border-radius:7px;
	}
	
#k2Container .k2Pagination ul li span.pagenav,
div.pagination ul li span.pagenav{font-weight:bold;
	}


#k2Container .k2Pagination ul li.pagination-start a,
#k2Container .k2Pagination ul li.pagination-prev a,
#k2Container .k2Pagination ul li.pagination-end a,
#k2Container .k2Pagination ul li.pagination-next a,
div.pagination ul li.pagination-start a,
div.pagination ul li.pagination-prev a,
div.pagination ul li.pagination-end a,
div.pagination ul li.pagination-next a{position:relative;
	color:#848484;
	background:#dcdcdc;text-transform:uppercase;
	border:1px solid #cfcfcf;box-shadow:0 0 0 1px rgba(255,255,255,.6) inset;border-radius:7px;
	}
	
#k2Container .k2Pagination ul li a:hover{text-decoration:underline;}
#k2Container .k2Pagination ul li.pagination-start a:hover,
#k2Container .k2Pagination ul li.pagination-prev a:hover,
#k2Container .k2Pagination ul li.pagination-end a:hover,
#k2Container .k2Pagination ul li.pagination-next a:hover,
div.pagination ul li.pagination-start a:hover,
div.pagination ul li.pagination-prev a:hover,
div.pagination ul li.pagination-end a:hover,
div.pagination ul li.pagination-next a:hover,
div.pagination ul li a:hover{
	color:#fff;
	text-decoration:none;
	}
	
#k2Container .k2Pagination ul li,
div.pagination ul li{
	margin-right:11px;display:inline-block;
	}

span.userItemImage{margin:0;}
/*Comments*/

div.itemComments ul.itemCommentsList li{margin-bottom:20px;}
div.itemComments ul.itemCommentsList li img{
	margin-right:1em;}


/*Forms*/

textarea{
    height: 217px;
    padding: 10px 20px;
    resize: none;
    width: 250px;
	background:#fff;
	outline:none;
	overflow:auto;
	font-size:1em;
	border:1px solid #d6d6d6;
}

input[type="text"], input[type="email"], input[type="password"],
#form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox {
	padding: 10px 20px;
	background:#fff;
	outline:none;
	font-size:1em;
	border:1px solid #d6d6d6;
	}
#form-login input.inputbox[type="checkbox"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
input[type="text"], input[type="email"], input[type="password"]{
	width:250px;
}
div.itemCommentsForm form textarea.inputbox,div.itemCommentsForm form input.inputbox {width:539px;}
label{
	font-size:1em;
	line-height:2em;
	}
	
.login-fields label{display:block;}
.readon{padding:20px 0;}
	
/*Contact Form*/

#contact-form-cont,	
#contact-address,
.contact-misc p{
	float:left;
	width:50%;
	}
	
.contact-form{
	margin-right:20px;}
	
.contact-miscinfo h3,
.jicons-icons,
#contact-form legend,
.uniq{
	display:none;}
	
div.map-wrapper{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 0.5em;
	margin-bottom:2em;
	}
	
#map {
	height:260px;
}

dd.submit-button {
    float: right !important;
    margin-right: 17px;
}



/*=== SIDEBARS===*/
.tabs .moduleItemDateCreated{color:#65a00f;font-style:italic;}
.news_block{padding:0 20px 0 0;}

.list1 li{font-weight:bold;background:url(../images/list_border.gif) repeat-x;padding:10px 0 0 !important;margin:10px 0 0 !important;}
.list1 li:first-child{background:none;padding:0 !important;margin:0 !important;}
.list1 li a{color:#659225;}
.list1 li a:hover{color:#4b4b4b}
/*=== MainBottom Positions ===*/
#rt-mainbottom{padding:20px 0 40px;}
/*=== Bottom Positions ===*/
#rt-bottom{background:url(../images/shadow_2.png) 50% 0 no-repeat;padding:30px 0;}
.clients{overflow:hidden;}
.clients li{float:left;margin-right:26px;}
.clients li a{display:block;}
.clients li a img{opacity:.2;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;filter:alpha(opacity=20);}
.clients li a:hover img{opacity:1;filter:alpha(opacity=100);}
ol{margin:0 0 18px;}
ol li{list-style:decimal inside !important;color:#659225;font-weight:bold;}
ol li a{color:#659225;}
.list1.categories{padding:0 0 35px;}
/*=== Footer Positions ===*/

div.footer{
	background:url(../images/header_bg.png) 50% 0 no-repeat;
	padding:29px 0 30px;
}
div.smile a{margin:0 8px 0 0 !important;}
div.smile a img{opacity:.2;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;filter:alpha(opacity=20)}
div.smile a:hover img{opacity:1;filter:alpha(opacity=1020)}

div.footer .menu li{background:url(../images/footer_menu_marker.gif) 0 6px no-repeat;padding:0 0 6px 10px;font:11px/14px Tahoma, Geneva, sans-serif;text-transform:capitalize;}
div.footer .menu li a,div.footer .menu li>span{color:#646464;font:11px/14px Tahoma, Geneva, sans-serif;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
div.footer .menu li a:hover{color:#fff;}
div.footer .footer_contacts{font:11px/20px Tahoma, Geneva, sans-serif;color:#636363;}
div.footer .menu ul{display:none;}

.copyright{text-align:right;}
.copyright span{text-transform:uppercase;}
.copyright,
.copyright a{font:11px/20px Tahoma, Geneva, sans-serif;color:#636363;
	color:#636363;}
	
.copyright a:hover{
	text-decoration:underline;}

/*ToTop*/
/*Scroll to top*/

.rt-block.totop{
bottom: 24px;
position: fixed;
right: 24px;
display:none;
	}

a#gantry-totop{
	z-index:999;
	background:url(../images/scroll-to-top.png) top left no-repeat;
	display:block;
	width:51px;
	height:51px;
	text-indent:-9999em;
	font-size:1px;
	line-height:1px;
	}
.at300bs:hover{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(opacity=80) !important;}